<core-pagination
  [pagination]="pagination"
  (pageChange)="pageChange()"
></core-pagination>


<button (click)="goToProductForm()" class="addProductButton" mat-raised-button>Add product</button>

<div class="allCards">
   @for (product of allProducts?.products; track product) {
      @if (product.id || product.localDbId) {
         <mat-card class="card" (click)="goToProduct(product.id || product.localDbId || 0)">
            <mat-card-header>
               <mat-card-title class="title">{{ product.title }}</mat-card-title>
            </mat-card-header>
            <img class="image" mat-card-image [src]="product.images[0]" [alt]="product.title">
            <mat-card-content
            class="content"
            >
               <p class="description">
               {{ product.description}}
               </p>
               <p>{{ product.category }}</p>
               <p>{{ product.price }}</p>
            </mat-card-content>
            <mat-card-actions>
               @if(product.id){
                  <button (click)="goToProductForm(product.id)" mat-button>Update</button>
                  <button (click)="goToProduct(product.id)" mat-button>View product</button>
               } @else {
                  <button (click)="goToProductForm(product.localDbId, true)" mat-button>Update</button>
                  <button (click)="goToProduct(product.localDbId, true)" mat-button>View product</button>
               }
            </mat-card-actions>
         </mat-card>
      }
   }
</div>