.productPage {
   display: flex;
   flex-direction: column;
   padding-top: 30px;
}
.allCards {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   .card {
      width: 250px;
      margin: 20px;
      .image {
         height: 150px;
         width: auto;
         object-fit: cover;
         padding: 10px 0;
         opacity: 0.85;
      }
      .content {
         max-height: 100px;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }
}

.productButton {

   text-transform: uppercase;
   margin-left: auto;
   font-size: 12px;

   &.add {
      width: 250px;
      justify-content: left;
      margin-bottom: 20px;
   }
}

.paginationComponent {
   
   background-color: cadetblue;
}