<div class="productPage">
   <button
      class="productButton add"
      mat-raised-button
      [routerLink]="['/product-form']">
         Create a product
   </button>
   <div class="allCards"> 
      @for (product of allProducts?.products; track product?.id || product?.localDbId) {
         @if (product.id || product.localDbId) {
            <mat-card class="card">
               <mat-card-header>
                  <mat-card-title class="title">{{ product.title }}</mat-card-title>
               </mat-card-header>
               <img class="image" mat-card-image [src]="product.images[0]" [alt]="product.title">
               <mat-card-content
                  class="content"
               >
                  <p class="description">
                     {{ product.description}}
                  </p>
                  <p>{{ product.category }}</p>
                  <p>{{ product.price }}</p>
               </mat-card-content>
               <mat-card-actions>
                  @if(product.id){
                     <button
                        class="productButton"
                        mat-raised-button
                        [routerLink]="['/product-form', product.id]"
                     >
                        Update
                     </button>
                     <button
                        [routerLink]="['/product', product.id]"
                        class="productButton"
                        mat-raised-button
                     >
                        View
                     </button>
                  } @else {
                     <button
                        class="productButton"
                        mat-raised-button
                        [routerLink]="['/product-form', product.localDbId]"
                        [queryParams]="{ isPendingProduct: true }"
                     >
                        Update
                     </button>
                     <button
                        class="productButton"
                        mat-raised-button
                        [routerLink]="['/product', product.localDbId]"
                        [queryParams]="{ isPendingProduct: true }"
                     >
                        View
                     </button>
                  }
               </mat-card-actions>
            </mat-card>
         }
      }
   </div>
</div>

<div class="paginationComponent">
   <core-pagination
      [pagination]="pagination"
      (pageChange)="pageChange()"
   ></core-pagination>
</div>