.allCards {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   .card {
      width: 250px;
      margin: 20px;
      .image {
         height: 150px;
         width: auto;
         object-fit: contain;
         padding: 10px 0;
      }
      .content {
         max-height: 100px;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }
}

.addProductButton {
   margin: 20px;
}