<div
   class="headerSection"
>
   <div
      class="title"
      dti="randomQuote"
   >
      Pick up a category to get a quote
   </div>
   <button
      mat-raised-button
      [routerLink]="['/favorite-quotes']"
   >
      My quoteworthy collection ({{favoriteQuoteList().length}})
   </button>
</div>
<div class="categories">
   @for (category of categories; track $index) {
      <button
         [style.background-color]="primaryColor[$index]"
         mat-raised-button
         dti="quoteButton"
         (click)="getRandomQuote(category)"
         class="quoteButton"
         layout="row" layout-align="center"
      >
         {{category}}
      </button>
   }
</div>
@if (quote() !== undefined) {
   <div
      #quoteContainer
      class="quoteContainer"
   >
      <div class="quote">
         {{ quote()?.quote }}
      </div>
      <div class="author">
         {{quote()?.author}}
      </div>
   </div>
   <div
      class="bookmark"
      (click)="addOrRemoveToFavorite()"
   >
      <span>
         Let's bookmark this quote!
         <img
            class="favoriteIcon"
            src="{{ addedToFavorite() ?
               'assets/icons/favoriteAdd.svg' :
               'assets/icons/favorite.svg' }}"
         />
      </span>
   </div>
}
