<div class="title" dti="randomQuote">Pick up a category to get a quote
</div>

<div class="categories">
   @for (category of categories; track $index) {
      {{ getDynamicColor() }}
      <button
         [style.background-color]="primaryColor"
         mat-raised-button
         dti="quoteButton"
         (click)="getRandomQuote(category)"
         class="quoteButton"
         layout="row" layout-align="center"
      >
         {{category}}
      </button>
   }
</div>
@if (quote() !== undefined) {
   <div
      #quoteContainer
      class="quote-container"
   >
      <div class="quote">
         {{ quote()?.quote }}
      </div>
      <div class="author">
         {{quote()?.author}}
      </div>
   </div>
   <div
      class="bookmark"
      (click)="addOrRemoveToFavorite()"
   >
      Let's bookmark this quote!
      <img
         class="favoriteIcon"
         src="{{ addedToFavorite() ?
            'assets/icons/favoriteAdd.svg' :
            'assets/icons/favorite.svg' }}"
      />
   </div>
}
